<h1>Here are some interesting facts about the creator.</h1>

<ul>
  <li>He is 19</li>
  <li>He loves web development</li>
  <li>He enjoys playing league of legends and working out in his free time</li>
</ul>
