                          <!-- Navbar Brand Code -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{#link-to 'index'}}Home{{/link-to}}</a>
    </div>
                          <!-- Navbar Searc -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
      <button class="button btn-warning" type="button" name="about">{{#link-to 'about'}}About{{/link-to}}</button>
      <button class="button btn-success"type="button" name="Contact">{{#link-to 'contact'}}Contact{{/link-to}}</button>
  </div>
</nav>

<header class="jumbotron jumbotron-fluid">
  <h2 class="display-3">League of Blogs</h2>
</header>
<hr>
<div class="container">
  {{outlet}}
</div>
