<h2>If you have any questions about the blog or any of its contents, feel free to contact me via the information below.</h2>

<h3>Contact Info</h3>
<ul>
  <li>Email: c9er08@gmail.com</li>
  <li>Phone: 999-999-9999</li>
  <li>Address: 919 ne 264th Ave Kentucky Washington 09989</li>
</ul>
